openapi: 3.1.0
info:
  title: OGX Specification
  description: |-
    This is the specification of the OGX that provides
                        a set of endpoints and their corresponding interfaces that are
        tailored to
                        best leverage Llama Models.

        **✅ STABLE**: Production-ready APIs with backward compatibility guarantees.
  version: v1
servers:
- url: http://any-hosted-ogx.com
paths:
  /v1/batches:
    get:
      responses:
        '200':
          description: A list of batch objects.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListBatchesResponse'
        '400':
          $ref: '#/components/responses/BadRequest400'
          description: Bad Request
        '429':
          $ref: '#/components/responses/TooManyRequests429'
          description: Too Many Requests
        '500':
          $ref: '#/components/responses/InternalServerError500'
          description: Internal Server Error
        default:
          $ref: '#/components/responses/DefaultError'
          description: Default Response
      tags:
      - Batches
      summary: List all batches for the current user.
      description: List all batches for the current user.
      operationId: list_batches_v1_batches_get
      parameters:
      - name: after
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Optional cursor for pagination. Returns batches after this ID.
          title: After
        description: Optional cursor for pagination. Returns batches after this ID.
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          description: Maximum number of batches to return. Defaults to 20.
          default: 20
          title: Limit
        description: Maximum number of batches to return. Defaults to 20.
      x-codeSamples:
      - lang: Python
        label: OpenAI
        source: |-
          from openai import OpenAI

          client = OpenAI(base_url="http://localhost:8321/v1", api_key="fake")

          batches = client.batches.list()
          for batch in batches:
              print(batch.id, batch.status)
    post:
      responses:
        '200':
          description: The created batch object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Batch'
        '400':
          $ref: '#/components/responses/BadRequest400'
          description: Bad Request
        '429':
          $ref: '#/components/responses/TooManyRequests429'
          description: Too Many Requests
        '500':
          $ref: '#/components/responses/InternalServerError500'
          description: Internal Server Error
        default:
          $ref: '#/components/responses/DefaultError'
          description: Default Response
        '409':
          description: 'Conflict: The idempotency key was previously used with different parameters.'
      tags:
      - Batches
      summary: Create a new batch for processing multiple API requests.
      description: Create a new batch for processing multiple API requests.
      operationId: create_batch_v1_batches_post
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateBatchRequest'
      x-codeSamples:
      - lang: Python
        label: OpenAI
        source: |-
          from openai import OpenAI

          client = OpenAI(base_url="http://localhost:8321/v1", api_key="fake")

          batch = client.batches.create(
              input_file_id="file-abc123",
              endpoint="/v1/chat/completions",
              completion_window="24h",
          )
          print(batch.id)
  /v1/batches/{batch_id}:
    get:
      responses:
        '200':
          description: The batch object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Batch'
        '400':
          $ref: '#/components/responses/BadRequest400'
          description: Bad Request
        '429':
          $ref: '#/components/responses/TooManyRequests429'
          description: Too Many Requests
        '500':
          $ref: '#/components/responses/InternalServerError500'
          description: Internal Server Error
        default:
          $ref: '#/components/responses/DefaultError'
          description: Default Response
      tags:
      - Batches
      summary: Retrieve information about a specific batch.
      description: Retrieve information about a specific batch.
      operationId: retrieve_batch_v1_batches__batch_id__get
      parameters:
      - name: batch_id
        in: path
        required: true
        schema:
          type: string
          description: The ID of the batch to retrieve.
          title: Batch Id
        description: The ID of the batch to retrieve.
      x-codeSamples:
      - lang: Python
        label: OpenAI
        source: |-
          from openai import OpenAI

          client = OpenAI(base_url="http://localhost:8321/v1", api_key="fake")

          batch = client.batches.retrieve("batch_abc123")
          print(batch)
  /v1/batches/{batch_id}/cancel:
    post:
      responses:
        '200':
          description: The updated batch object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Batch'
        '400':
          $ref: '#/components/responses/BadRequest400'
          description: Bad Request
        '429':
          $ref: '#/components/responses/TooManyRequests429'
          description: Too Many Requests
        '500':
          $ref: '#/components/responses/InternalServerError500'
          description: Internal Server Error
        default:
          $ref: '#/components/responses/DefaultError'
          description: Default Response
      tags:
      - Batches
      summary: Cancel a batch that is in progress.
      description: Cancel a batch that is in progress.
      operationId: cancel_batch_v1_batches__batch_id__cancel_post
      parameters:
      - name: batch_id
        in: path
        required: true
        schema:
          type: string
          description: The ID of the batch to cancel.
          title: Batch Id
        description: The ID of the batch to cancel.
      x-codeSamples:
      - lang: Python
        label: OpenAI
        source: |-
          from openai import OpenAI

          client = OpenAI(base_url="http://localhost:8321/v1", api_key="fake")

          batch = client.batches.cancel("batch_abc123")
          print(batch)
  /v1/chat/completions:
    get:
      responses:
        '200':
          description: A ListOpenAIChatCompletionResponse.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListOpenAIChatCompletionResponse'
        '400':
          $ref: '#/components/responses/BadRequest400'
          description: Bad Request
        '429':
          $ref: '#/components/responses/TooManyRequests429'
          description: Too Many Requests
        '500':
          $ref: '#/components/responses/InternalServerError500'
          description: Internal Server Error
        default:
          $ref: '#/components/responses/DefaultError'
          description: Default Response
      tags:
      - Inference
      summary: List chat completions.
      description: List chat completions.
      operationId: list_chat_completions_v1_chat_completions_get
      parameters:
      - name: after
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: The ID of the last chat completion to return.
          title: After
        description: The ID of the last chat completion to return.
      - name: limit
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
          - type: 'null'
          description: The maximum number of chat completions to return.
          default: 20
          title: Limit
        description: The maximum number of chat completions to return.
      - name: model
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: The model to filter by.
          title: Model
        description: The model to filter by.
      - name: order
        in: query
        required: false
        schema:
          anyOf:
          - $ref: '#/components/schemas/Order'
          - type: 'null'
          description: 'The order to sort the chat completions by: "asc" or "desc". Defaults to "desc".'
          default: desc
          title: Order
        description: 'The order to sort the chat completions by: "asc" or "desc". Defaults to "desc".'
      x-codeSamples:
      - lang: Python
        label: OpenAI
        source: |-
          from openai import OpenAI

          client = OpenAI(base_url="http://localhost:8321/v1", api_key="fake")

          response = client.chat.completions.list()
          print(response)
    post:
      responses:
        '200':
          description: An OpenAIChatCompletion. When streaming, returns Server-Sent Events (SSE) with OpenAIChatCompletionChunk objects.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenAIChatCompletion'
            text/event-stream:
              schema:
                $ref: '#/components/schemas/OpenAIChatCompletionChunk'
        '400':
          $ref: '#/components/responses/BadRequest400'
          description: Bad Request
        '429':
          $ref: '#/components/responses/TooManyRequests429'
          description: Too Many Requests
        '500':
          $ref: '#/components/responses/InternalServerError500'
          description: Internal Server Error
        default:
          $ref: '#/components/responses/DefaultError'
          description: Default Response
      tags:
      - Inference
      summary: Create chat completions.
      description: Generate an OpenAI-compatible chat completion for the given messages using the specified model.
      operationId: openai_chat_completion_v1_chat_completions_post
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpenAIChatCompletionRequestWithExtraBody'
      x-codeSamples:
      - lang: Python
        label: OpenAI
        source: |-
          from openai import OpenAI

          client = OpenAI(base_url="http://localhost:8321/v1", api_key="fake")

          response = client.chat.completions.create(
              model="meta-llama/Llama-3.1-8B-Instruct",
              messages=[
                  {"role": "user", "content": "What is the capital of France?"},
              ],
          )
          print(response.choices[0].message.content)
  /v1/chat/completions/{completion_id}:
    get:
      responses:
        '200':
          description: A OpenAICompletionWithInputMessages.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenAICompletionWithInputMessages'
        '400':
          $ref: '#/components/responses/BadRequest400'
          description: Bad Request
        '429':
          $ref: '#/components/responses/TooManyRequests429'
          description: Too Many Requests
        '500':
          $ref: '#/components/responses/InternalServerError500'
          description: Internal Server Error
        default:
          $ref: '#/components/responses/DefaultError'
          description: Default Response
      tags:
      - Inference
      summary: Get chat completion.
      description: Describe a chat completion by its ID.
      operationId: get_chat_completion_v1_chat_completions__completion_id__get
      parameters:
      - name: completion_id
        in: path
        required: true
        schema:
          type: string
          description: ID of the chat completion.
          title: Completion Id
        description: ID of the chat completion.
      x-codeSamples:
      - lang: Python
        label: OpenAI
        source: |-
          from openai import OpenAI

          client = OpenAI(base_url="http://localhost:8321/v1", api_key="fake")

          completion = client.chat.completions.retrieve("completion_id")
          print(completion)
  /v1/completions:
    post:
      responses:
        '200':
          description: An OpenAICompletion. When streaming, returns Server-Sent Events (SSE) with OpenAICompletion chunks.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenAICompletion'
            text/event-stream:
              schema:
                $ref: '#/components/schemas/OpenAICompletion'
        '400':
          description: Bad Request
          $ref: '#/components/responses/BadRequest400'
        '429':
          description: Too Many Requests
          $ref: '#/components/responses/TooManyRequests429'
        '500':
          description: Internal Server Error
          $ref: '#/components/responses/InternalServerError500'
        default:
          description: Default Response
          $ref: '#/components/responses/DefaultError'
      tags:
      - Inference
      summary: Create completion.
      description: Generate an OpenAI-compatible completion for the given prompt using the specified model.
      operationId: openai_completion_v1_completions_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpenAICompletionRequestWithExtraBody'
        required: true
      x-codeSamples:
      - lang: Python
        label: OpenAI
        source: |-
          from openai import OpenAI

          client = OpenAI(base_url="http://localhost:8321/v1", api_key="fake")

          response = client.completions.create(
              model="meta-llama/Llama-3.1-8B-Instruct",
              prompt="The capital of France is",
          )
          print(response.choices[0].text)
  /v1/conversations:
    post:
      responses:
        '200':
          description: The created conversation object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conversation'
        '400':
          description: Bad Request
          $ref: '#/components/responses/BadRequest400'
        '429':
          description: Too Many Requests
          $ref: '#/components/responses/TooManyRequests429'
        '500':
          description: Internal Server Error
          $ref: '#/components/responses/InternalServerError500'
        default:
          description: Default Response
          $ref: '#/components/responses/DefaultError'
      tags:
      - Conversations
      summary: Create a conversation.
      description: Create a conversation.
      operationId: create_conversation_v1_conversations_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateConversationRequest'
        required: true
  /v1/conversations/{conversation_id}:
    get:
      responses:
        '200':
          description: The conversation object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conversation'
        '400':
          $ref: '#/components/responses/BadRequest400'
          description: Bad Request
        '429':
          $ref: '#/components/responses/TooManyRequests429'
          description: Too Many Requests
        '500':
          $ref: '#/components/responses/InternalServerError500'
          description: Internal Server Error
        default:
          $ref: '#/components/responses/DefaultError'
          description: Default Response
      tags:
      - Conversations
      summary: Retrieve a conversation.
      description: Get a conversation with the given ID.
      operationId: get_conversation_v1_conversations__conversation_id__get
      parameters:
      - name: conversation_id
        in: path
        required: true
        schema:
          type: string
          description: The conversation identifier.
          title: Conversation Id
        description: The conversation identifier.
    post:
      responses:
        '200':
          description: The updated conversation object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conversation'
        '400':
          $ref: '#/components/responses/BadRequest400'
          description: Bad Request
        '429':
          $ref: '#/components/responses/TooManyRequests429'
          description: Too Many Requests
        '500':
          $ref: '#/components/responses/InternalServerError500'
          description: Internal Server Error
        default:
          $ref: '#/components/responses/DefaultError'
          description: Default Response
      tags:
      - Conversations
      summary: Update a conversation.
      description: Update a conversation's metadata with the given ID.
      operationId: update_conversation_v1_conversations__conversation_id__post
      parameters:
      - name: conversation_id
        in: path
        required: true
        schema:
          type: string
          description: The conversation identifier.
          title: Conversation Id
        description: The conversation identifier.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateConversationRequest'
    delete:
      responses:
        '200':
          description: The deleted conversation resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConversationDeletedResource'
        '400':
          $ref: '#/components/responses/BadRequest400'
          description: Bad Request
        '429':
          $ref: '#/components/responses/TooManyRequests429'
          description: Too Many Requests
        '500':
          $ref: '#/components/responses/InternalServerError500'
          description: Internal Server Error
        default:
          $ref: '#/components/responses/DefaultError'
          description: Default Response
      tags:
      - Conversations
      summary: Delete a conversation.
      description: Delete a conversation with the given ID.
      operationId: delete_conversation_v1_conversations__conversation_id__delete
      parameters:
      - name: conversation_id
        in: path
        required: true
        schema:
          type: string
          description: The conversation identifier.
          title: Conversation Id
        description: The conversation identifier.
  /v1/conversations/{conversation_id}/items:
    get:
      responses:
        '200':
          description: List of conversation items.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConversationItemList'
        '400':
          $ref: '#/components/responses/BadRequest400'
          description: Bad Request
        '429':
          $ref: '#/components/responses/TooManyRequests429'
          description: Too Many Requests
        '500':
          $ref: '#/components/responses/InternalServerError500'
          description: Internal Server Error
        default:
          $ref: '#/components/responses/DefaultError'
          description: Default Response
      tags:
      - Conversations
      summary: List items.
      description: List items in the conversation.
      operationId: list_items_v1_conversations__conversation_id__items_get
      parameters:
      - name: conversation_id
        in: path
        required: true
        schema:
          type: string
          description: The conversation identifier.
          title: Conversation Id
        description: The conversation identifier.
      - name: after
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: After
      - name: include
        in: query
        required: false
        schema:
          anyOf:
          - type: array
            items:
              $ref: '#/components/schemas/ConversationItemInclude'
          - type: 'null'
          title: Include
      - name: limit
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
          - type: 'null'
          title: Limit
      - name: order
        in: query
        required: false
        schema:
          anyOf:
          - enum:
            - asc
            - desc
            type: string
          - type: 'null'
          title: Order
    post:
      responses:
        '200':
          description: List of created items.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConversationItemList'
        '400':
          $ref: '#/components/responses/BadRequest400'
          description: Bad Request
        '429':
          $ref: '#/components/responses/TooManyRequests429'
          description: Too Many Requests
        '500':
          $ref: '#/components/responses/InternalServerError500'
          description: Internal Server Error
        default:
          $ref: '#/components/responses/DefaultError'
          description: Default Response
      tags:
      - Conversations
      summary: Create items.
      description: Create items in the conversation.
      operationId: add_items_v1_conversations__conversation_id__items_post
      parameters:
      - name: conversation_id
        in: path
        required: true
        schema:
          type: string
          description: The conversation identifier.
          title: Conversation Id
        description: The conversation identifier.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddItemsRequest'
  /v1/conversations/{conversation_id}/items/{item_id}:
    get:
      responses:
        '200':
          description: The conversation item.
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/OpenAIResponseMessage-Output'
                - $ref: '#/components/schemas/OpenAIResponseOutputMessageWebSearchToolCall'
                - $ref: '#/components/schemas/OpenAIResponseOutputMessageFileSearchToolCall'
                - $ref: '#/components/schemas/OpenAIResponseOutputMessageFunctionToolCall'
                - $ref: '#/components/schemas/OpenAIResponseInputFunctionToolCallOutput'
                - $ref: '#/components/schemas/OpenAIResponseMCPApprovalRequest'
                - $ref: '#/components/schemas/OpenAIResponseMCPApprovalResponse'
                - $ref: '#/components/schemas/OpenAIResponseOutputMessageMCPCall'
                - $ref: '#/components/schemas/OpenAIResponseOutputMessageMCPListTools'
                - $ref: '#/components/schemas/OpenAIResponseOutputMessageReasoningItem'
                discriminator:
                  propertyName: type
                  mapping:
                    message: '#/components/schemas/OpenAIResponseMessage-Output'
                    web_search_call: '#/components/schemas/OpenAIResponseOutputMessageWebSearchToolCall'
                    file_search_call: '#/components/schemas/OpenAIResponseOutputMessageFileSearchToolCall'
                    function_call: '#/components/schemas/OpenAIResponseOutputMessageFunctionToolCall'
                    function_call_output: '#/components/schemas/OpenAIResponseInputFunctionToolCallOutput'
                    mcp_approval_request: '#/components/schemas/OpenAIResponseMCPApprovalRequest'
                    mcp_approval_response: '#/components/schemas/OpenAIResponseMCPApprovalResponse'
                    mcp_call: '#/components/schemas/OpenAIResponseOutputMessageMCPCall'
                    mcp_list_tools: '#/components/schemas/OpenAIResponseOutputMessageMCPListTools'
                    reasoning: '#/components/schemas/OpenAIResponseOutputMessageReasoningItem'
                title: Response Retrieve Item V1 Conversations  Conversation Id  Items  Item Id  Get
        '400':
          $ref: '#/components/responses/BadRequest400'
          description: Bad Request
        '429':
          $ref: '#/components/responses/TooManyRequests429'
          description: Too Many Requests
        '500':
          $ref: '#/components/responses/InternalServerError500'
          description: Internal Server Error
        default:
          $ref: '#/components/responses/DefaultError'
          description: Default Response
      tags:
      - Conversations
      summary: Retrieve an item.
      description: Retrieve a conversation item.
      operationId: retrieve_item_v1_conversations__conversation_id__items__item_id__get
      parameters:
      - name: conversation_id
        in: path
        required: true
        schema:
          type: string
          description: The conversation identifier.
          title: Conversation Id
        description: The conversation identifier.
      - name: item_id
        in: path
        required: true
        schema:
          type: string
          description: The item identifier.
          title: Item Id
        description: The item identifier.
    delete:
      responses:
        '200':
          description: The deleted item resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConversationItemDeletedResource'
        '400':
          $ref: '#/components/responses/BadRequest400'
          description: Bad Request
        '429':
          $ref: '#/components/responses/TooManyRequests429'
          description: Too Many Requests
        '500':
          $ref: '#/components/responses/InternalServerError500'
          description: Internal Server Error
        default:
          $ref: '#/components/responses/DefaultError'
          description: Default Response
      tags:
      - Conversations
      summary: Delete an item.
      description: Delete a conversation item.
      operationId: delete_item_v1_conversations__conversation_id__items__item_id__delete
      parameters:
      - name: conversation_id
        in: path
        required: true
        schema:
          type: string
          description: The conversation identifier.
          title: Conversation Id
        description: The conversation identifier.
      - name: item_id
        in: path
        required: true
        schema:
          type: string
          description: The item identifier.
          title: Item Id
        description: The item identifier.
  /v1/embeddings:
    post:
      responses:
        '200':
          description: An OpenAIEmbeddingsResponse containing the embeddings.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenAIEmbeddingsResponse'
        '400':
          description: Bad Request
          $ref: '#/components/responses/BadRequest400'
        '429':
          description: Too Many Requests
          $ref: '#/components/responses/TooManyRequests429'
        '500':
          description: Internal Server Error
          $ref: '#/components/responses/InternalServerError500'
        default:
          description: Default Response
          $ref: '#/components/responses/DefaultError'
      tags:
      - Inference
      summary: Create embeddings.
      description: Generate OpenAI-compatible embeddings for the given input using the specified model.
      operationId: openai_embeddings_v1_embeddings_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpenAIEmbeddingsRequestWithExtraBody'
        required: true
      x-codeSamples:
      - lang: Python
        label: OpenAI
        source: |-
          from openai import OpenAI

          client = OpenAI(base_url="http://localhost:8321/v1", api_key="fake")

          response = client.embeddings.create(
              model="all-MiniLM-L6-v2",
              input="OGX is awesome",
          )
          print(response.data[0].embedding[:5])
  /v1/files:
    get:
      responses:
        '200':
          description: The list of files.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListOpenAIFileResponse'
        '400':
          $ref: '#/components/responses/BadRequest400'
          description: Bad Request
        '429':
          $ref: '#/components/responses/TooManyRequests429'
          description: Too Many Requests
        '500':
          $ref: '#/components/responses/InternalServerError500'
          description: Internal Server Error
        default:
          $ref: '#/components/responses/DefaultError'
          description: Default Response
      tags:
      - Files
      summary: List files
      description: List files
      operationId: list_files_v1_files_get
      parameters:
      - name: after
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: A cursor for pagination. Returns files after this ID.
          title: After
        description: A cursor for pagination. Returns files after this ID.
      - name: limit
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
          - type: 'null'
          description: Maximum number of files to return (1-10,000).
          default: 10000
          title: Limit
        description: Maximum number of files to return (1-10,000).
      - name: order
        in: query
        required: false
        schema:
          anyOf:
          - $ref: '#/components/schemas/Order'
          - type: 'null'
          description: Sort order by created_at timestamp ('asc' or 'desc').
          default: desc
          title: Order
        description: Sort order by created_at timestamp ('asc' or 'desc').
      - name: purpose
        in: query
        required: false
        schema:
          anyOf:
          - $ref: '#/components/schemas/OpenAIFilePurpose'
          - type: 'null'
          description: Filter files by purpose.
          title: Purpose
        description: Filter files by purpose.
      x-codeSamples:
      - lang: Python
        label: OpenAI
        source: |-
          from openai import OpenAI

          client = OpenAI(base_url="http://localhost:8321/v1", api_key="fake")

          files = client.files.list()
          for f in files:
              print(f.id, f.filename)
    post:
      responses:
        '200':
          description: The uploaded file.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenAIFileObject'
        '400':
          $ref: '#/components/responses/BadRequest400'
          description: Bad Request
        '429':
          $ref: '#/components/responses/TooManyRequests429'
          description: Too Many Requests
        '500':
          $ref: '#/components/responses/InternalServerError500'
          description: Internal Server Error
        default:
          $ref: '#/components/responses/DefaultError'
          description: Default Response
      tags:
      - Files
      summary: Upload file
      description: Upload a file.
      operationId: upload_file_v1_files_post
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Body_upload_file_v1_files_post'
      x-codeSamples:
      - lang: Python
        label: OpenAI
        source: |-
          from openai import OpenAI

          client = OpenAI(base_url="http://localhost:8321/v1", api_key="fake")

          file = client.files.create(
              file=open("data.jsonl", "rb"),
              purpose="batch",
          )
          print(file.id)
  /v1/files/{file_id}:
    get:
      responses:
        '200':
          description: The file.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenAIFileObject'
        '400':
          $ref: '#/components/responses/BadRequest400'
          description: Bad Request
        '429':
          $ref: '#/components/responses/TooManyRequests429'
          description: Too Many Requests
        '500':
          $ref: '#/components/responses/InternalServerError500'
          description: Internal Server Error
        default:
          $ref: '#/components/responses/DefaultError'
          description: Default Response
      tags:
      - Files
      summary: Get file
      description: Get file
      operationId: get_file_v1_files__file_id__get
      parameters:
      - name: file_id
        in: path
        required: true
        schema:
          type: string
          description: The ID of the file to retrieve.
          title: File Id
        description: The ID of the file to retrieve.
      x-codeSamples:
      - lang: Python
        label: OpenAI
        source: |-
          from openai import OpenAI

          client = OpenAI(base_url="http://localhost:8321/v1", api_key="fake")

          file = client.files.retrieve("file-abc123")
          print(file)
    delete:
      responses:
        '200':
          description: The file was deleted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenAIFileDeleteResponse'
        '400':
          $ref: '#/components/responses/BadRequest400'
          description: Bad Request
        '429':
          $ref: '#/components/responses/TooManyRequests429'
          description: Too Many Requests
        '500':
          $ref: '#/components/responses/InternalServerError500'
          description: Internal Server Error
        default:
          $ref: '#/components/responses/DefaultError'
          description: Default Response
      tags:
      - Files
      summary: Delete file
      description: Delete file
      operationId: delete_file_v1_files__file_id__delete
      parameters:
      - name: file_id
        in: path
        required: true
        schema:
          type: string
          description: The ID of the file to delete.
          title: File Id
        description: The ID of the file to delete.
      x-codeSamples:
      - lang: Python
        label: OpenAI
        source: |-
          from openai import OpenAI

          client = OpenAI(base_url="http://localhost:8321/v1", api_key="fake")

          response = client.files.delete("file-abc123")
          print(response)
  /v1/files/{file_id}/content:
    get:
      responses:
        '200':
          description: The file content.
          content:
            application/json:
              schema:
                type: string
        '400':
          $ref: '#/components/responses/BadRequest400'
          description: Bad Request
        '429':
          $ref: '#/components/responses/TooManyRequests429'
          description: Too Many Requests
        '500':
          $ref: '#/components/responses/InternalServerError500'
          description: Internal Server Error
        default:
          $ref: '#/components/responses/DefaultError'
          description: Default Response
      tags:
      - Files
      summary: Retrieve file content
      description: Retrieve file content
      operationId: retrieve_file_content_v1_files__file_id__content_get
      parameters:
      - name: file_id
        in: path
        required: true
        schema:
          type: string
          description: The ID of the file to retrieve content from.
          title: File Id
        description: The ID of the file to retrieve content from.
      x-codeSamples:
      - lang: Python
        label: OpenAI
        source: |-
          from openai import OpenAI

          client = OpenAI(base_url="http://localhost:8321/v1", api_key="fake")

          content = client.files.content("file-abc123")
          print(content.text)
  /v1/health:
    get:
      responses:
        '200':
          description: Health information indicating if the service is operational.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthInfo'
        '400':
          description: Bad Request
          $ref: '#/components/responses/BadRequest400'
        '429':
          description: Too Many Requests
          $ref: '#/components/responses/TooManyRequests429'
        '500':
          description: Internal Server Error
          $ref: '#/components/responses/InternalServerError500'
        default:
          description: Default Response
          $ref: '#/components/responses/DefaultError'
      tags:
      - Inspect
      summary: Get health status.
      description: Get the current health status of the service.
      operationId: health_v1_health_get
      x-public: true
  /v1/inspect/routes:
    get:
      responses:
        '200':
          description: Response containing information about all available routes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListRoutesResponse'
        '400':
          $ref: '#/components/responses/BadRequest400'
          description: Bad Request
        '429':
          $ref: '#/components/responses/TooManyRequests429'
          description: Too Many Requests
        '500':
          $ref: '#/components/responses/InternalServerError500'
          description: Internal Server Error
        default:
          $ref: '#/components/responses/DefaultError'
          description: Default Response
      tags:
      - Inspect
      summary: List routes.
      description: List all available API routes with their methods and implementing providers.
      operationId: list_routes_v1_inspect_routes_get
      parameters:
      - name: api_filter
        in: query
        required: false
        schema:
          anyOf:
          - enum:
            - v1
            - v1alpha
            - v1beta
            - deprecated
            type: string
          - type: 'null'
          description: Optional filter to control which routes are returned. Can be an API level ('v1', 'v1alpha', 'v1beta') to show non-deprecated routes at that level, or 'deprecated' to show deprecated routes across all levels. If not specified, returns all non-deprecated routes.
          title: Api Filter
        description: Optional filter to control which routes are returned. Can be an API level ('v1', 'v1alpha', 'v1beta') to show non-deprecated routes at that level, or 'deprecated' to show deprecated routes across all levels. If not specified, returns all non-deprecated routes.
  /v1/models:
    get:
      responses:
        '200':
          description: A list of OpenAI model objects.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenAIListModelsResponse'
        '400':
          description: Bad Request
          $ref: '#/components/responses/BadRequest400'
        '429':
          description: Too Many Requests
          $ref: '#/components/responses/TooManyRequests429'
        '500':
          description: Internal Server Error
          $ref: '#/components/responses/InternalServerError500'
        default:
          description: Default Response
          $ref: '#/components/responses/DefaultError'
      tags:
      - Models
      summary: List models using the OpenAI API.
      description: List models using the OpenAI API.
      operationId: openai_list_models_v1_models_get
      x-codeSamples:
      - lang: Python
        label: OpenAI
        source: |-
          from openai import OpenAI

          client = OpenAI(base_url="http://localhost:8321/v1", api_key="fake")

          models = client.models.list()
          for model in models:
              print(model.id)
  /v1/models/{model_id}:
    get:
      responses:
        '200':
          description: The model object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model'
        '400':
          $ref: '#/components/responses/BadRequest400'
          description: Bad Request
        '429':
          $ref: '#/components/responses/TooManyRequests429'
          description: Too Many Requests
        '500':
          $ref: '#/components/responses/InternalServerError500'
          description: Internal Server Error
        default:
          $ref: '#/components/responses/DefaultError'
          description: Default Response
      tags:
      - Models
      summary: Get a model by its identifier.
      description: Get a model by its identifier.
      operationId: get_model_v1_models__model_id__get
      parameters:
      - name: model_id
        in: path
        required: true
        schema:
          type: string
          description: The ID of the model to get.
          title: Model Id
        description: The ID of the model to get.
      x-codeSamples:
      - lang: Python
        label: OpenAI
        source: |-
          from openai import OpenAI

          client = OpenAI(base_url="http://localhost:8321/v1", api_key="fake")

          model = client.models.retrieve("meta-llama/Llama-3.1-8B-Instruct")
          print(model)
  /v1/moderations:
    post:
      responses:
        '200':
          description: The moderation results for the input.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModerationObject'
        '400':
          description: Bad Request
          $ref: '#/components/responses/BadRequest400'
        '429':
          description: Too Many Requests
          $ref: '#/components/responses/TooManyRequests429'
        '500':
          description: Internal Server Error
          $ref: '#/components/responses/InternalServerError500'
        default:
          description: Default Response
          $ref: '#/components/responses/DefaultError'
      tags:
      - Safety
      summary: Create Moderation
      description: Classifies if text inputs are potentially harmful. OpenAI-compatible endpoint.
      operationId: run_moderation_v1_moderations_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RunModerationRequest'
        required: true
      x-codeSamples:
      - lang: Python
        label: OpenAI
        source: |-
          from openai import OpenAI

          client = OpenAI(base_url="http://localhost:8321/v1", api_key="fake")

          response = client.moderations.create(
              model="meta-llama/Llama-Guard-3-8B",
              input="Some text to classify",
          )
          print(response.results[0].flagged)
  /v1/prompts:
    get:
      responses:
        '200':
          description: A ListPromptsResponse containing all prompts.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListPromptsResponse'
        '400':
          description: Bad Request
          $ref: '#/components/responses/BadRequest400'
        '429':
          description: Too Many Requests
          $ref: '#/components/responses/TooManyRequests429'
        '500':
          description: Internal Server Error
          $ref: '#/components/responses/InternalServerError500'
        default:
          description: Default Response
          $ref: '#/components/responses/DefaultError'
      tags:
      - Prompts
      summary: List all prompts.
      description: List all prompts.
      operationId: list_prompts_v1_prompts_get
    post:
      responses:
        '200':
          description: The created Prompt resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Prompt'
        '400':
          description: Bad Request
          $ref: '#/components/responses/BadRequest400'
        '429':
          description: Too Many Requests
          $ref: '#/components/responses/TooManyRequests429'
        '500':
          description: Internal Server Error
          $ref: '#/components/responses/InternalServerError500'
        default:
          description: Default Response
          $ref: '#/components/responses/DefaultError'
      tags:
      - Prompts
      summary: Create a prompt.
      description: Create a new prompt.
      operationId: create_prompt_v1_prompts_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePromptRequest'
        required: true
  /v1/prompts/{prompt_id}:
    get:
      responses:
        '200':
          description: A Prompt resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Prompt'
        '400':
          $ref: '#/components/responses/BadRequest400'
          description: Bad Request
        '429':
          $ref: '#/components/responses/TooManyRequests429'
          description: Too Many Requests
        '500':
          $ref: '#/components/responses/InternalServerError500'
          description: Internal Server Error
        default:
          $ref: '#/components/responses/DefaultError'
          description: Default Response
      tags:
      - Prompts
      summary: Get a prompt.
      description: Get a prompt by its identifier and optional version.
      operationId: get_prompt_v1_prompts__prompt_id__get
      parameters:
      - name: prompt_id
        in: path
        required: true
        schema:
          type: string
          description: The identifier of the prompt to get.
          title: Prompt Id
        description: The identifier of the prompt to get.
      - name: version
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
          - type: 'null'
          description: The version of the prompt to get (defaults to latest).
          title: Version
        description: The version of the prompt to get (defaults to latest).
    put:
      responses:
        '200':
          description: The updated Prompt resource with incremented version.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Prompt'
        '400':
          $ref: '#/components/responses/BadRequest400'
          description: Bad Request
        '429':
          $ref: '#/components/responses/TooManyRequests429'
          description: Too Many Requests
        '500':
          $ref: '#/components/responses/InternalServerError500'
          description: Internal Server Error
        default:
          $ref: '#/components/responses/DefaultError'
          description: Default Response
      tags:
      - Prompts
      summary: Update a prompt.
      description: Update an existing prompt (increments version).
      operationId: update_prompt_v1_prompts__prompt_id__put
      parameters:
      - name: prompt_id
        in: path
        required: true
        schema:
          type: string
          description: The identifier of the prompt to update.
          title: Prompt Id
        description: The identifier of the prompt to update.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePromptBodyRequest'
    delete:
      responses:
        '400':
          $ref: '#/components/responses/BadRequest400'
          description: Bad Request
        '429':
          $ref: '#/components/responses/TooManyRequests429'
          description: Too Many Requests
        '500':
          $ref: '#/components/responses/InternalServerError500'
          description: Internal Server Error
        default:
          $ref: '#/components/responses/DefaultError'
          description: Default Response
        '204':
          description: The prompt was successfully deleted.
      tags:
      - Prompts
      summary: Delete a prompt.
      description: Delete a prompt.
      operationId: delete_prompt_v1_prompts__prompt_id__delete
      parameters:
      - name: prompt_id
        in: path
        required: true
        schema:
          type: string
          description: The identifier of the prompt to delete.
          title: Prompt Id
        description: The identifier of the prompt to delete.
  /v1/prompts/{prompt_id}/set-default-version:
    put:
      responses:
        '200':
          description: The prompt with the specified version now set as default.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Prompt'
        '400':
          $ref: '#/components/responses/BadRequest400'
          description: Bad Request
        '429':
          $ref: '#/components/responses/TooManyRequests429'
          description: Too Many Requests
        '500':
          $ref: '#/components/responses/InternalServerError500'
          description: Internal Server Error
        default:
          $ref: '#/components/responses/DefaultError'
          description: Default Response
      tags:
      - Prompts
      summary: Set prompt version.
      description: Set which version of a prompt should be the default in get_prompt (latest).
      operationId: set_default_version_v1_prompts__prompt_id__set_default_version_put
      parameters:
      - name: prompt_id
        in: path
        required: true
        schema:
          type: string
          description: The identifier of the prompt.
          title: Prompt Id
        description: The identifier of the prompt.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetDefaultVersionBodyRequest'
  /v1/prompts/{prompt_id}/versions:
    get:
      responses:
        '200':
          description: A ListPromptsResponse containing all versions of the prompt.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListPromptsResponse'
        '400':
          $ref: '#/components/responses/BadRequest400'
          description: Bad Request
        '429':
          $ref: '#/components/responses/TooManyRequests429'
          description: Too Many Requests
        '500':
          $ref: '#/components/responses/InternalServerError500'
          description: Internal Server Error
        default:
          $ref: '#/components/responses/DefaultError'
          description: Default Response
      tags:
      - Prompts
      summary: List prompt versions.
      description: List all versions of a specific prompt.
      operationId: list_prompt_versions_v1_prompts__prompt_id__versions_get
      parameters:
      - name: prompt_id
        in: path
        required: true
        schema:
          type: string
          description: The identifier of the prompt to list versions for.
          title: Prompt Id
        description: The identifier of the prompt to list versions for.
  /v1/providers:
    get:
      responses:
        '200':
          description: A ListProvidersResponse containing information about all providers.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListProvidersResponse'
        '400':
          description: Bad Request
          $ref: '#/components/responses/BadRequest400'
        '429':
          description: Too Many Requests
          $ref: '#/components/responses/TooManyRequests429'
        '500':
          description: Internal Server Error
          $ref: '#/components/responses/InternalServerError500'
        default:
          description: Default Response
          $ref: '#/components/responses/DefaultError'
      tags:
      - Providers
      summary: List providers.
      description: List all available providers.
      operationId: list_providers_v1_providers_get
  /v1/providers/{provider_id}:
    get:
      responses:
        '200':
          description: A ProviderInfo object containing the provider's details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProviderInfo'
        '400':
          $ref: '#/components/responses/BadRequest400'
          description: Bad Request
        '429':
          $ref: '#/components/responses/TooManyRequests429'
          description: Too Many Requests
        '500':
          $ref: '#/components/responses/InternalServerError500'
          description: Internal Server Error
        default:
          $ref: '#/components/responses/DefaultError'
          description: Default Response
      tags:
      - Providers
      summary: Get provider.
      description: Get detailed information about a specific provider.
      operationId: inspect_provider_v1_providers__provider_id__get
      parameters:
      - name: provider_id
        in: path
        required: true
        schema:
          type: string
          description: The ID of the provider to inspect.
          title: Provider Id
        description: The ID of the provider to inspect.
  /v1/responses:
    get:
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListOpenAIResponseObject'
        '400':
          $ref: '#/components/responses/BadRequest400'
          description: Bad Request
        '429':
          $ref: '#/components/responses/TooManyRequests429'
          description: Too Many Requests
        '500':
          $ref: '#/components/responses/InternalServerError500'
          description: Internal Server Error
        default:
          $ref: '#/components/responses/DefaultError'
          description: Default Response
      tags:
      - Responses
      summary: List all responses.
      description: List all responses.
      operationId: list_openai_responses_v1_responses_get
      parameters:
      - name: after
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: The ID of the last response to return.
          title: After
        description: The ID of the last response to return.
      - name: limit
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
          - type: 'null'
          description: The number of responses to return.
          default: 50
          title: Limit
        description: The number of responses to return.
      - name: model
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: The model to filter responses by.
          title: Model
        description: The model to filter responses by.
      - name: order
        in: query
        required: false
        schema:
          anyOf:
          - $ref: '#/components/schemas/Order'
          - type: 'null'
          description: The order to sort responses by when sorted by created_at ('asc' or 'desc').
          default: desc
          title: Order
        description: The order to sort responses by when sorted by created_at ('asc' or 'desc').
      x-codeSamples:
      - lang: Python
        label: OpenAI
        source: |-
          from openai import OpenAI

          client = OpenAI(base_url="http://localhost:8321/v1", api_key="fake")

          responses = client.responses.list()
          for r in responses:
              print(r.id)
    post:
      responses:
        '200':
          description: An OpenAIResponseObject or a stream of OpenAIResponseObjectStream.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenAIResponseObject'
            text/event-stream:
              schema:
                $ref: '#/components/schemas/OpenAIResponseObjectStream'
        '400':
          $ref: '#/components/responses/BadRequest400'
          description: Bad Request
        '429':
          $ref: '#/components/responses/TooManyRequests429'
          description: Too Many Requests
        '500':
          $ref: '#/components/responses/InternalServerError500'
          description: Internal Server Error
        default:
          $ref: '#/components/responses/DefaultError'
          description: Default Response
      tags:
      - Responses
      summary: Create a model response.
      description: Create a model response.
      operationId: create_openai_response_v1_responses_post
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateResponseRequest'
          application/x-www-form-urlencoded: {}
      x-codeSamples:
      - lang: Python
        label: OpenAI
        source: |-
          from openai import OpenAI

          client = OpenAI(base_url="http://localhost:8321/v1", api_key="fake")

          response = client.responses.create(
              model="meta-llama/Llama-3.1-8B-Instruct",
              input="What is the capital of France?",
          )
          print(response.output_text)
  /v1/responses/{response_id}:
    get:
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenAIResponseObject'
        '400':
          $ref: '#/components/responses/BadRequest400'
          description: Bad Request
        '429':
          $ref: '#/components/responses/TooManyRequests429'
          description: Too Many Requests
        '500':
          $ref: '#/components/responses/InternalServerError500'
          description: Internal Server Error
        default:
          $ref: '#/components/responses/DefaultError'
          description: Default Response
      tags:
      - Responses
      summary: Get a model response.
      description: Get a model response.
      operationId: get_openai_response_v1_responses__response_id__get
      parameters:
      - name: response_id
        in: path
        required: true
        schema:
          type: string
          description: The ID of the OpenAI response to retrieve.
          title: Response Id
        description: The ID of the OpenAI response to retrieve.
      x-codeSamples:
      - lang: Python
        label: OpenAI
        source: |-
          from openai import OpenAI

          client = OpenAI(base_url="http://localhost:8321/v1", api_key="fake")

          response = client.responses.retrieve("resp_abc123")
          print(response)
    delete:
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenAIDeleteResponseObject'
        '400':
          $ref: '#/components/responses/BadRequest400'
          description: Bad Request
        '429':
          $ref: '#/components/responses/TooManyRequests429'
          description: Too Many Requests
        '500':
          $ref: '#/components/responses/InternalServerError500'
          description: Internal Server Error
        default:
          $ref: '#/components/responses/DefaultError'
          description: Default Response
      tags:
      - Responses
      summary: Delete a response.
      description: Delete a response.
      operationId: delete_openai_response_v1_responses__response_id__delete
      parameters:
      - name: response_id
        in: path
        required: true
        schema:
          type: string
          description: The ID of the OpenAI response to delete.
          title: Response Id
        description: The ID of the OpenAI response to delete.
      x-codeSamples:
      - lang: Python
        label: OpenAI
        source: |-
          from openai import OpenAI

          client = OpenAI(base_url="http://localhost:8321/v1", api_key="fake")

          response = client.responses.delete("resp_abc123")
          print(response)
  /v1/responses/{response_id}/input_items:
    get:
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListOpenAIResponseInputItem'
        '400':
          $ref: '#/components/responses/BadRequest400'
          description: Bad Request
        '429':
          $ref: '#/components/responses/TooManyRequests429'
          description: Too Many Requests
        '500':
          $ref: '#/components/responses/InternalServerError500'
          description: Internal Server Error
        default:
          $ref: '#/components/responses/DefaultError'
          description: Default Response
      tags:
      - Responses
      summary: List input items.
      description: List input items.
      operationId: list_openai_response_input_items_v1_responses__response_id__input_items_get
      parameters:
      - name: response_id
        in: path
        required: true
        schema:
          type: string
          description: The ID of the response to retrieve input items for.
          title: Response Id
        description: The ID of the response to retrieve input items for.
      - name: after
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: An item ID to list items after, used for pagination.
          title: After
        description: An item ID to list items after, used for pagination.
      - name: before
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: An item ID to list items before, used for pagination.
          title: Before
        description: An item ID to list items before, used for pagination.
      - name: include
        in: query
        required: false
        schema:
          anyOf:
          - type: array
            items:
              $ref: '#/components/schemas/ResponseItemInclude'
          - type: 'null'
          description: Additional fields to include in the response.
          title: Include
        description: Additional fields to include in the response.
      - name: limit
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
          - type: 'null'
          description: A limit on the number of objects to be returned. Limit can range between 1 and 100, and the default is 20.
          default: 20
          title: Limit
        description: A limit on the number of objects to be returned. Limit can range between 1 and 100, and the default is 20.
      - name: order
        in: query
        required: false
        schema:
          anyOf:
          - $ref: '#/components/schemas/Order'
          - type: 'null'
          description: The order to return the input items in.
          default: desc
          title: Order
        description: The order to return the input items in.
      x-codeSamples:
      - lang: Python
        label: OpenAI
        source: |-
          from openai import OpenAI

          client = OpenAI(base_url="http://localhost:8321/v1", api_key="fake")

          input_items = client.responses.input_items.list("resp_abc123")
          for item in input_items:
              print(item)
  /v1/safety/run-shield:
    post:
      responses:
        '200':
          description: The shield response indicating any violations detected.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RunShieldResponse'
        '400':
          description: Bad Request
          $ref: '#/components/responses/BadRequest400'
        '429':
          description: Too Many Requests
          $ref: '#/components/responses/TooManyRequests429'
        '500':
          description: Internal Server Error
          $ref: '#/components/responses/InternalServerError500'
        default:
          description: Default Response
          $ref: '#/components/responses/DefaultError'
      tags:
      - Safety
      summary: Run Shield
      description: Run a safety shield on messages to check for policy violations.
      operationId: run_shield_v1_safety_run_shield_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RunShieldRequest'
        required: true
  /v1/shields:
    get:
      responses:
        '200':
          description: A ListShieldsResponse.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListShieldsResponse'
        '400':
          description: Bad Request
          $ref: '#/components/responses/BadRequest400'
        '429':
          description: Too Many Requests
          $ref: '#/components/responses/TooManyRequests429'
        '500':
          description: Internal Server Error
          $ref: '#/components/responses/InternalServerError500'
        default:
          description: Default Response
          $ref: '#/components/responses/DefaultError'
      tags:
      - Shields
      summary: List all shields.
      description: List all shields.
      operationId: list_shields_v1_shields_get
  /v1/shields/{identifier}:
    get:
      responses:
        '200':
          description: A Shield.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Shield'
        '400':
          $ref: '#/components/responses/BadRequest400'
          description: Bad Request
        '429':
          $ref: '#/components/responses/TooManyRequests429'
          description: Too Many Requests
        '500':
          $ref: '#/components/responses/InternalServerError500'
          description: Internal Server Error
        default:
          $ref: '#/components/responses/DefaultError'
          description: Default Response
      tags:
      - Shields
      summary: Get a shield by its identifier.
      description: Get a shield by its identifier.
      operationId: get_shield_v1_shields__identifier__get
      parameters:
      - name: identifier
        in: path
        required: true
        schema:
          type: string
          description: The identifier of the shield to get.
          title: Identifier
        description: The identifier of the shield to get.
  /v1/tools:
    get:
      responses:
        '200':
          description: A ListToolDefsResponse.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListToolDefsResponse'
        '400':
          $ref: '#/components/responses/BadRequest400'
          description: Bad Request
        '429':
          $ref: '#/components/responses/TooManyRequests429'
          description: Too Many Requests
        '500':
          $ref: '#/components/responses/InternalServerError500'
          description: Internal Server Error
        default:
          $ref: '#/components/responses/DefaultError'
          description: Default Response
      tags:
      - Tools
      summary: List tools with optional tool group filter.
      description: List tools with optional tool group filter.
      operationId: list_tools_v1_tools_get
      parameters:
      - name: toolgroup_id
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: The ID of the tool group to filter tools by.
          title: Toolgroup Id
        description: The ID of the tool group to filter tools by.
  /v1/vector-io/insert:
    post:
      responses:
        '204':
          description: Chunks were inserted.
        '400':
          description: Bad Request
          $ref: '#/components/responses/BadRequest400'
        '429':
          description: Too Many Requests
          $ref: '#/components/responses/TooManyRequests429'
        '500':
          description: Internal Server Error
          $ref: '#/components/responses/InternalServerError500'
        default:
          description: Default Response
          $ref: '#/components/responses/DefaultError'
      tags:
      - VectorIO
      summary: Insert embedded chunks into a vector database.
      description: Insert embedded chunks into a vector database.
      operationId: insert_chunks_v1_vector_io_insert_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InsertChunksRequest'
        required: true
  /v1/vector-io/query:
    post:
      responses:
        '200':
          description: A QueryChunksResponse.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryChunksResponse'
        '400':
          description: Bad Request
          $ref: '#/components/responses/BadRequest400'
        '429':
          description: Too Many Requests
          $ref: '#/components/responses/TooManyRequests429'
        '500':
          description: Internal Server Error
          $ref: '#/components/responses/InternalServerError500'
        default:
          description: Default Response
          $ref: '#/components/responses/DefaultError'
      tags:
      - VectorIO
      summary: Query chunks from a vector database.
      description: Query chunks from a vector database.
      operationId: query_chunks_v1_vector_io_query_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueryChunksRequest'
        required: true
  /v1/vector_stores:
    get:
      responses:
        '200':
          description: A list of vector stores.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VectorStoreListResponse'
        '400':
          $ref: '#/components/responses/BadRequest400'
          description: Bad Request
        '429':
          $ref: '#/components/responses/TooManyRequests429'
          description: Too Many Requests
        '500':
          $ref: '#/components/responses/InternalServerError500'
          description: Internal Server Error
        default:
          $ref: '#/components/responses/DefaultError'
          description: Default Response
      tags:
      - VectorIO
      summary: List vector stores (OpenAI-compatible).
      description: List vector stores (OpenAI-compatible).
      operationId: openai_list_vector_stores_v1_vector_stores_get
      parameters:
      - name: limit
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
            maximum: 100
            minimum: 1
          - type: 'null'
          description: Maximum number of vector stores to return.
          default: 20
          title: Limit
        description: Maximum number of vector stores to return.
      - name: order
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: 'Sort order by created_at: asc or desc.'
          default: desc
          title: Order
        description: 'Sort order by created_at: asc or desc.'
      - name: after
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Pagination cursor (after).
          title: After
        description: Pagination cursor (after).
      - name: before
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Pagination cursor (before).
          title: Before
        description: Pagination cursor (before).
      x-codeSamples:
      - lang: Python
        label: OpenAI
        source: |-
          from openai import OpenAI

          client = OpenAI(base_url="http://localhost:8321/v1", api_key="fake")

          vector_stores = client.vector_stores.list()
          for vs in vector_stores:
              print(vs.id, vs.name)
    post:
      responses:
        '200':
          description: The created vector store.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VectorStoreObject'
        '400':
          $ref: '#/components/responses/BadRequest400'
          description: Bad Request
        '429':
          $ref: '#/components/responses/TooManyRequests429'
          description: Too Many Requests
        '500':
          $ref: '#/components/responses/InternalServerError500'
          description: Internal Server Error
        default:
          $ref: '#/components/responses/DefaultError'
          description: Default Response
      tags:
      - VectorIO
      summary: Create a vector store (OpenAI-compatible).
      description: Create a vector store (OpenAI-compatible).
      operationId: openai_create_vector_store_v1_vector_stores_post
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpenAICreateVectorStoreRequestWithExtraBody'
      x-codeSamples:
      - lang: Python
        label: OpenAI
        source: |-
          from openai import OpenAI

          client = OpenAI(base_url="http://localhost:8321/v1", api_key="fake")

          vector_store = client.vector_stores.create(
              name="my-vector-store",
          )
          print(vector_store.id)
  /v1/vector_stores/{vector_store_id}:
    get:
      responses:
        '200':
          description: The vector store.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VectorStoreObject'
        '400':
          $ref: '#/components/responses/BadRequest400'
          description: Bad Request
        '429':
          $ref: '#/components/responses/TooManyRequests429'
          description: Too Many Requests
        '500':
          $ref: '#/components/responses/InternalServerError500'
          description: Internal Server Error
        default:
          $ref: '#/components/responses/DefaultError'
          description: Default Response
      tags:
      - VectorIO
      summary: Retrieve a vector store (OpenAI-compatible).
      description: Retrieve a vector store (OpenAI-compatible).
      operationId: openai_retrieve_vector_store_v1_vector_stores__vector_store_id__get
      parameters:
      - name: vector_store_id
        in: path
        required: true
        schema:
          type: string
          description: The vector store identifier.
          title: Vector Store Id
        description: The vector store identifier.
      x-codeSamples:
      - lang: Python
        label: OpenAI
        source: |-
          from openai import OpenAI

          client = OpenAI(base_url="http://localhost:8321/v1", api_key="fake")

          vector_store = client.vector_stores.retrieve("vs_abc123")
          print(vector_store)
    post:
      responses:
        '200':
          description: The updated vector store.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VectorStoreObject'
        '400':
          $ref: '#/components/responses/BadRequest400'
          description: Bad Request
        '429':
          $ref: '#/components/responses/TooManyRequests429'
          description: Too Many Requests
        '500':
          $ref: '#/components/responses/InternalServerError500'
          description: Internal Server Error
        default:
          $ref: '#/components/responses/DefaultError'
          description: Default Response
      tags:
      - VectorIO
      summary: Update a vector store (OpenAI-compatible).
      description: Update a vector store (OpenAI-compatible).
      operationId: openai_update_vector_store_v1_vector_stores__vector_store_id__post
      parameters:
      - name: vector_store_id
        in: path
        required: true
        schema:
          type: string
          description: The vector store identifier.
          title: Vector Store Id
        description: The vector store identifier.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpenAIUpdateVectorStoreRequest'
      x-codeSamples:
      - lang: Python
        label: OpenAI
        source: |-
          from openai import OpenAI

          client = OpenAI(base_url="http://localhost:8321/v1", api_key="fake")

          vector_store = client.vector_stores.update(
              "vs_abc123",
              name="updated-name",
          )
          print(vector_store)
    delete:
      responses:
        '200':
          description: Vector store deleted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VectorStoreDeleteResponse'
        '400':
          $ref: '#/components/responses/BadRequest400'
          description: Bad Request
        '429':
          $ref: '#/components/responses/TooManyRequests429'
          description: Too Many Requests
        '500':
          $ref: '#/components/responses/InternalServerError500'
          description: Internal Server Error
        default:
          $ref: '#/components/responses/DefaultError'
          description: Default Response
      tags:
      - VectorIO
      summary: Delete a vector store (OpenAI-compatible).
      description: Delete a vector store (OpenAI-compatible).
      operationId: openai_delete_vector_store_v1_vector_stores__vector_store_id__delete
      parameters:
      - name: vector_store_id
        in: path
        required: true
        schema:
          type: string
          description: The vector store identifier.
          title: Vector Store Id
        description: The vector store identifier.
      x-codeSamples:
      - lang: Python
        label: OpenAI
        source: |-
          from openai import OpenAI

          client = OpenAI(base_url="http://localhost:8321/v1", api_key="fake")

          response = client.vector_stores.delete("vs_abc123")
          print(response)
  /v1/vector_stores/{vector_store_id}/file_batches:
    post:
      responses:
        '200':
          description: The created file batch.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VectorStoreFileBatchObject'
        '400':
          $ref: '#/components/responses/BadRequest400'
          description: Bad Request
        '429':
          $ref: '#/components/responses/TooManyRequests429'
          description: Too Many Requests
        '500':
          $ref: '#/components/responses/InternalServerError500'
          description: Internal Server Error
        default:
          $ref: '#/components/responses/DefaultError'
          description: Default Response
      tags:
      - VectorIO
      summary: Create a vector store file batch (OpenAI-compatible).
      description: Create a vector store file batch (OpenAI-compatible).
      operationId: openai_create_vector_store_file_batch_v1_vector_stores__vector_store_id__file_batches_post
      parameters:
      - name: vector_store_id
        in: path
        required: true
        schema:
          type: string
          description: The vector store identifier.
          title: Vector Store Id
        description: The vector store identifier.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpenAICreateVectorStoreFileBatchRequestWithExtraBody'
      x-codeSamples:
      - lang: Python
        label: OpenAI
        source: |-
          from openai import OpenAI

          client = OpenAI(base_url="http://localhost:8321/v1", api_key="fake")

          batch = client.vector_stores.file_batches.create(
              vector_store_id="vs_abc123",
              file_ids=["file-abc123", "file-def456"],
          )
          print(batch)
  /v1/vector_stores/{vector_store_id}/file_batches/{batch_id}:
    get:
      responses:
        '200':
          description: The file batch.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VectorStoreFileBatchObject'
        '400':
          $ref: '#/components/responses/BadRequest400'
          description: Bad Request
        '429':
          $ref: '#/components/responses/TooManyRequests429'
          description: Too Many Requests
        '500':
          $ref: '#/components/responses/InternalServerError500'
          description: Internal Server Error
        default:
          $ref: '#/components/responses/DefaultError'
          description: Default Response
      tags:
      - VectorIO
      summary: Retrieve a vector store file batch (OpenAI-compatible).
      description: Retrieve a vector store file batch (OpenAI-compatible).
      operationId: openai_retrieve_vector_store_file_batch_v1_vector_stores__vector_store_id__file_batches__batch_id__get
      parameters:
      - name: vector_store_id
        in: path
        required: true
        schema:
          type: string
          description: The vector store identifier.
          title: Vector Store Id
        description: The vector store identifier.
      - name: batch_id
        in: path
        required: true
        schema:
          type: string
          description: The file batch identifier.
          title: Batch Id
        description: The file batch identifier.
      x-codeSamples:
      - lang: Python
        label: OpenAI
        source: |-
          from openai import OpenAI

          client = OpenAI(base_url="http://localhost:8321/v1", api_key="fake")

          batch = client.vector_stores.file_batches.retrieve(
              vector_store_id="vs_abc123",
              batch_id="vsfb_abc123",
          )
          print(batch)
  /v1/vector_stores/{vector_store_id}/file_batches/{batch_id}/cancel:
    post:
      responses:
        '200':
          description: The cancelled file batch.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VectorStoreFileBatchObject'
        '400':
          $ref: '#/components/responses/BadRequest400'
          description: Bad Request
        '429':
          $ref: '#/components/responses/TooManyRequests429'
          description: Too Many Requests
        '500':
          $ref: '#/components/responses/InternalServerError500'
          description: Internal Server Error
        default:
          $ref: '#/components/responses/DefaultError'
          description: Default Response
      tags:
      - VectorIO
      summary: Cancel a vector store file batch (OpenAI-compatible).
      description: Cancel a vector store file batch (OpenAI-compatible).
      operationId: openai_cancel_vector_store_file_batch_v1_vector_stores__vector_store_id__file_batches__batch_id__cancel_post
      parameters:
      - name: vector_store_id
        in: path
        required: true
        schema:
          type: string
          description: The vector store identifier.
          title: Vector Store Id
        description: The vector store identifier.
      - name: batch_id
        in: path
        required: true
        schema:
          type: string
          description: The file batch identifier.
          title: Batch Id
        description: The file batch identifier.
      x-codeSamples:
      - lang: Python
        label: OpenAI
        source: |-
          from openai import OpenAI

          client = OpenAI(base_url="http://localhost:8321/v1", api_key="fake")

          batch = client.vector_stores.file_batches.cancel(
              vector_store_id="vs_abc123",
              batch_id="vsfb_abc123",
          )
          print(batch)
  /v1/vector_stores/{vector_store_id}/file_batches/{batch_id}/files:
    get:
      responses:
        '200':
          description: A list of files in the file batch.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VectorStoreFilesListInBatchResponse'
        '400':
          $ref: '#/components/responses/BadRequest400'
          description: Bad Request
        '429':
          $ref: '#/components/responses/TooManyRequests429'
          description: Too Many Requests
        '500':
          $ref: '#/components/responses/InternalServerError500'
          description: Internal Server Error
        default:
          $ref: '#/components/responses/DefaultError'
          description: Default Response
      tags:
      - VectorIO
      summary: List files in a vector store file batch (OpenAI-compatible).
      description: List files in a vector store file batch (OpenAI-compatible).
      operationId: openai_list_files_in_vector_store_file_batch_v1_vector_stores__vector_store_id__file_batches__batch_id__files_get
      parameters:
      - name: vector_store_id
        in: path
        required: true
        schema:
          type: string
          description: The vector store identifier.
          title: Vector Store Id
        description: The vector store identifier.
      - name: batch_id
        in: path
        required: true
        schema:
          type: string
          description: The file batch identifier.
          title: Batch Id
        description: The file batch identifier.
      - name: after
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Pagination cursor (after).
          title: After
        description: Pagination cursor (after).
      - name: before
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Pagination cursor (before).
          title: Before
        description: Pagination cursor (before).
      - name: filter
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Filter by file status.
          title: Filter
        description: Filter by file status.
      - name: limit
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
            maximum: 100
            minimum: 1
          - type: 'null'
          description: Maximum number of files to return.
          default: 20
          title: Limit
        description: Maximum number of files to return.
      - name: order
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: 'Sort order by created_at: asc or desc.'
          default: desc
          title: Order
        description: 'Sort order by created_at: asc or desc.'
      x-codeSamples:
      - lang: Python
        label: OpenAI
        source: |-
          from openai import OpenAI

          client = OpenAI(base_url="http://localhost:8321/v1", api_key="fake")

          files = client.vector_stores.file_batches.list_files(
              vector_store_id="vs_abc123",
              batch_id="vsfb_abc123",
          )
          for f in files:
              print(f.id)
  /v1/vector_stores/{vector_store_id}/files:
    get:
      responses:
        '200':
          description: A list of files in the vector store.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VectorStoreListFilesResponse'
        '400':
          $ref: '#/components/responses/BadRequest400'
          description: Bad Request
        '429':
          $ref: '#/components/responses/TooManyRequests429'
          description: Too Many Requests
        '500':
          $ref: '#/components/responses/InternalServerError500'
          description: Internal Server Error
        default:
          $ref: '#/components/responses/DefaultError'
          description: Default Response
      tags:
      - VectorIO
      summary: List files in a vector store (OpenAI-compatible).
      description: List files in a vector store (OpenAI-compatible).
      operationId: openai_list_files_in_vector_store_v1_vector_stores__vector_store_id__files_get
      parameters:
      - name: vector_store_id
        in: path
        required: true
        schema:
          type: string
          description: The vector store identifier.
          title: Vector Store Id
        description: The vector store identifier.
      - name: limit
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
            maximum: 100
            minimum: 1
          - type: 'null'
          description: Maximum number of files to return.
          default: 20
          title: Limit
        description: Maximum number of files to return.
      - name: order
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: 'Sort order by created_at: asc or desc.'
          default: desc
          title: Order
        description: 'Sort order by created_at: asc or desc.'
      - name: after
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Pagination cursor (after).
          title: After
        description: Pagination cursor (after).
      - name: before
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Pagination cursor (before).
          title: Before
        description: Pagination cursor (before).
      - name: filter
        in: query
        required: false
        schema:
          anyOf:
          - enum:
            - in_progress
            - completed
            - cancelled
            - failed
            type: string
          - type: 'null'
          description: Filter by file status.
          title: Filter
        description: Filter by file status.
      x-codeSamples:
      - lang: Python
        label: OpenAI
        source: |-
          from openai import OpenAI

          client = OpenAI(base_url="http://localhost:8321/v1", api_key="fake")

          files = client.vector_stores.files.list("vs_abc123")
          for f in files:
              print(f.id)
    post:
      responses:
        '200':
          description: The attached file.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VectorStoreFileObject'
        '400':
          $ref: '#/components/responses/BadRequest400'
          description: Bad Request
        '429':
          $ref: '#/components/responses/TooManyRequests429'
          description: Too Many Requests
        '500':
          $ref: '#/components/responses/InternalServerError500'
          description: Internal Server Error
        default:
          $ref: '#/components/responses/DefaultError'
          description: Default Response
      tags:
      - VectorIO
      summary: Attach a file to a vector store (OpenAI-compatible).
      description: Attach a file to a vector store (OpenAI-compatible).
      operationId: openai_attach_file_to_vector_store_v1_vector_stores__vector_store_id__files_post
      parameters:
      - name: vector_store_id
        in: path
        required: true
        schema:
          type: string
          description: The vector store identifier.
          title: Vector Store Id
        description: The vector store identifier.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpenAIAttachFileRequest'
      x-codeSamples:
      - lang: Python
        label: OpenAI
        source: |-
          from openai import OpenAI

          client = OpenAI(base_url="http://localhost:8321/v1", api_key="fake")

          file = client.vector_stores.files.create(
              vector_store_id="vs_abc123",
              file_id="file-abc123",
          )
          print(file)
  /v1/vector_stores/{vector_store_id}/files/{file_id}:
    get:
      responses:
        '200':
          description: The vector store file.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VectorStoreFileObject'
        '400':
          $ref: '#/components/responses/BadRequest400'
          description: Bad Request
        '429':
          $ref: '#/components/responses/TooManyRequests429'
          description: Too Many Requests
        '500':
          $ref: '#/components/responses/InternalServerError500'
          description: Internal Server Error
        default:
          $ref: '#/components/responses/DefaultError'
          description: Default Response
      tags:
      - VectorIO
      summary: Retrieve a vector store file (OpenAI-compatible).
      description: Retrieve a vector store file (OpenAI-compatible).
      operationId: openai_retrieve_vector_store_file_v1_vector_stores__vector_store_id__files__file_id__get
      parameters:
      - name: vector_store_id
        in: path
        required: true
        schema:
          type: string
          description: The vector store identifier.
          title: Vector Store Id
        description: The vector store identifier.
      - name: file_id
        in: path
        required: true
        schema:
          type: string
          description: The file identifier.
          title: File Id
        description: The file identifier.
      x-codeSamples:
      - lang: Python
        label: OpenAI
        source: |-
          from openai import OpenAI

          client = OpenAI(base_url="http://localhost:8321/v1", api_key="fake")

          file = client.vector_stores.files.retrieve(
              vector_store_id="vs_abc123",
              file_id="file-abc123",
          )
          print(file)
    post:
      responses:
        '200':
          description: The updated vector store file.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VectorStoreFileObject'
        '400':
          $ref: '#/components/responses/BadRequest400'
          description: Bad Request
        '429':
          $ref: '#/components/responses/TooManyRequests429'
          description: Too Many Requests
        '500':
          $ref: '#/components/responses/InternalServerError500'
          description: Internal Server Error
        default:
          $ref: '#/components/responses/DefaultError'
          description: Default Response
      tags:
      - VectorIO
      summary: Update a vector store file (OpenAI-compatible).
      description: Update a vector store file (OpenAI-compatible).
      operationId: openai_update_vector_store_file_v1_vector_stores__vector_store_id__files__file_id__post
      parameters:
      - name: vector_store_id
        in: path
        required: true
        schema:
          type: string
          description: The vector store identifier.
          title: Vector Store Id
        description: The vector store identifier.
      - name: file_id
        in: path
        required: true
        schema:
          type: string
          description: The file identifier.
          title: File Id
        description: The file identifier.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpenAIUpdateVectorStoreFileRequest'
    delete:
      responses:
        '200':
          description: The vector store file was deleted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VectorStoreFileDeleteResponse'
        '400':
          $ref: '#/components/responses/BadRequest400'
          description: Bad Request
        '429':
          $ref: '#/components/responses/TooManyRequests429'
          description: Too Many Requests
        '500':
          $ref: '#/components/responses/InternalServerError500'
          description: Internal Server Error
        default:
          $ref: '#/components/responses/DefaultError'
          description: Default Response
      tags:
      - VectorIO
      summary: Delete a vector store file (OpenAI-compatible).
      description: Delete a vector store file (OpenAI-compatible).
      operationId: openai_delete_vector_store_file_v1_vector_stores__vector_store_id__files__file_id__delete
      parameters:
      - name: vector_store_id
        in: path
        required: true
        schema:
          type: string
          description: The vector store identifier.
          title: Vector Store Id
        description: The vector store identifier.
      - name: file_id
        in: path
        required: true
        schema:
          type: string
          description: The file identifier.
          title: File Id
        description: The file identifier.
      x-codeSamples:
      - lang: Python
        label: OpenAI
        source: |-
          from openai import OpenAI

          client = OpenAI(base_url="http://localhost:8321/v1", api_key="fake")

          response = client.vector_stores.files.delete(
              vector_store_id="vs_abc123",
              file_id="file-abc123",
          )
          print(response)
  /v1/vector_stores/{vector_store_id}/files/{file_id}/content:
    get:
      responses:
        '200':
          description: The vector store file contents.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VectorStoreFileContentResponse'
        '400':
          $ref: '#/components/responses/BadRequest400'
          description: Bad Request
        '429':
          $ref: '#/components/responses/TooManyRequests429'
          description: Too Many Requests
        '500':
          $ref: '#/components/responses/InternalServerError500'
          description: Internal Server Error
        default:
          $ref: '#/components/responses/DefaultError'
          description: Default Response
      tags:
      - VectorIO
      summary: Retrieve vector store file contents (OpenAI-compatible).
      description: Retrieve vector store file contents (OpenAI-compatible).
      operationId: openai_retrieve_vector_store_file_contents_v1_vector_stores__vector_store_id__files__file_id__content_get
      parameters:
      - name: vector_store_id
        in: path
        required: true
        schema:
          type: string
          description: The vector store identifier.
          title: Vector Store Id
        description: The vector store identifier.
      - name: file_id
        in: path
        required: true
        schema:
          type: string
          description: The file identifier.
          title: File Id
        description: The file identifier.
[...]
